@model List<ShopItem>

<h4>All shop items</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Shop name</th>
      <th scope="col">Expiry date</th>
      <th scope="col">Remove</th>
    </tr>